.root {
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  border-top: solid 1px lightgray;
  border-collapse: collapse;
}

.head {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightblue;
  cursor: pointer;
}

.asc,
.desc {
  position: relative;
}

.asc::after,
.desc::after {
  position: absolute;
  content: '';
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  top: 5px;
  right: 15px;
}

.desc::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.asc::after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.cell {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px; /* default width */
  align-self: center;
}

.head .cell {
  text-transform: capitalize;
}

.title {
  width: 28%;
}

.year {
  width: 5%;
}

.genre {
  width: 10%;
}

.director {
  width: 10%;
}

.cast {
  width: 20%;
}

.notes {
  width: 15%;
}
